<header class="main-header">
  <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="main-icon" src="assets/breedog-icon.png" alt="breedog-icon"></a>
  <nav>
      <ul class="nav-items">
          <li class="menu"><img src="assets/menu.svg"/></li>
          <li><strong><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></strong></li>
          <li><strong><a routerLink="/pawpals" routerLinkActive="active" ariaCurrentWhenActive="page">PawPals</a></strong></li>
          <li><strong><a routerLink="/pawbonds" routerLinkActive="active" ariaCurrentWhenActive="page">PawBonds</a></strong></li>
          <li><strong><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></strong></li>
      </ul>
  </nav>
  <a routerLink="/my-pawpal" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="dog-profile-icon" src="assets/dog-profile.png" alt="paw-icon"></a>
</header>
