#pawpals-section
  width: 100%
  max-width: 1600px
  margin: 0 auto
  padding: 1.25rem 1.25rem

.pawpals
  display: grid
  grid-template-columns: 1fr
  gap: 5rem


@media screen and (max-width: 375px)
  #pawpals-section
    grid-template-columns: 1fr 1fr
    padding: 0
