<div class="pawbond-post">
  <div class="pawpal">
      <img class="pawpal-photo" src="{{pawbondPost.pawpal.photo}}" alt="dog-image">
      <div class="info">
        <strong class="name">{{pawbondPost.pawpal.name}} · {{pawbondPost.pawpal.age}}</strong>
        <span class="breed">{{pawbondPost.pawpal.breed}}</span>
        <span class="description">{{pawbondPost.pawpal.description}}</span>
        <span class="owner">{{pawbondPost.pawpal.owner}}</span>
      </div>
  </div>
  <img class="heart-icon" src="assets/heartdog.png" />
  <div class="pawbond-post-wanted-partner">
      <div class="info">
        <strong class="heading">Looking For</strong>
        <span class="age">Age: {{pawbondPost.wantedPartner.age}}</span>
        <span class="breed">Breed: {{pawbondPost.wantedPartner.breed}}</span>
        <span class="description">Description: {{pawbondPost.wantedPartner.description}}</span>
      </div>
      <button class="pawbond-post-button">PawBond</button>
  </div>
</div>
